@model Portfolio.Models.WorkViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit work</h2>
<br />
@using (Html.BeginForm("Save", "MyWork",FormMethod.Post,new {enctype = "multipart/form-data"}))
{
    
    <div class="form-group">
        @Html.LabelFor(m => m.Munkaim.Cim)
        @Html.TextBoxFor(m => m.Munkaim.Cim, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Munkaim.Cim)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Munkaim.Leiras)
        @Html.TextAreaFor(m => m.Munkaim.Leiras, new { @class = "form-control", @rows="5" })
        @Html.ValidationMessageFor(m => m.Munkaim.Leiras)
    </div>
    <div class="form-group form-check">
        @Html.CheckBoxFor(m => m.Munkaim.Csillagozott, new { @class = "form-check-input" })
        @Html.LabelFor(m => m.Munkaim.Csillagozott,new { @class = "form-check-label" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Munkaim.HozzaadasDatuma)
        @Html.TextBoxFor(m => m.Munkaim.HozzaadasDatuma, "{0:yyyy-MM-dd}", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Munkaim.HozzaadasDatuma)
    </div>
    if (Request.Url.ToString().Contains("/New"))
    {
<div class="form-group">
   
   
</div>
    }



    @Html.HiddenFor(m => m.Munkaim.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
