@using Portfolio.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
 
<div class="row h-100 justify-content-md-center">
    <div class="col-md-12">
        <div class="card" style="margin-top:20px;height:auto;width:300px">  
            <div class="card-header contact-header text-center">
                <img src="~/Content/Icons/logo.png" alt="logo" style="width:50%;height:auto;margin:auto;" /><br  />
                <h3 style="color:white;font-weight:bold;">Login!</h3>
            </div> 
            <div class="card-body">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@style="width:100%" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control",@style="width:100%" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div> 
                        <div class="form-group">
                            
                                <input type="submit" value="Log in" class="btn login"/>
                            
                        </div>

                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                </section>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
