@model Portfolio.Models.SumViewModel
@{
    ViewBag.Title = "Home Page";
}

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/MainPage.css" />
<div class="col-md-12">
    <div id="video-carousel-example" class="carousel slide carousel-fade" data-interval="false" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#video-carousel-example" data-slide-to="1"></li>
            <li data-target="#video-carousel-example" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            @{
                int Counter = 0;
                string Active = " active";
                string Unactive = "";
            }
            @foreach (var f in Model.Munkaims)
            {
                string decide = (Counter == 0) ? Active : Unactive;
                if (f.SlideShow)
                {
                    <div class="carousel-item @decide" name="@Counter">
                        <video id="@Counter" class="video-fluid" muted>
                            <source src="@Url.Content($"~/Content/Works/{f.eleresiUt}")" type="video/mp4" />
                        </video>
                    </div>
                    Counter++;
                }
            }
            <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
                <span id="click" class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <script>
      

        function Mainvideoplayer() {
            var active = "active";
            var ElsoOsztaly = document.getElementsByName("0")[0].getAttribute("class");

            if (ElsoOsztaly.includes(active)) {
                document.getElementById("0").play();
            }
            else {
                document.getElementById("0").pause();
            }

            var MasodikOsztaly = document.getElementsByName("1")[0].getAttribute("class");
            if (MasodikOsztaly.includes(active)) {
                document.getElementById("1").play();
            }
            else {
                document.getElementById("1").pause();
            }

            var HarmadikOsztaly = document.getElementsByName("2")[0].getAttribute("class");
            if (HarmadikOsztaly.includes(active)) {
                document.getElementById("2").play();
            }
            else {
                document.getElementById("2").pause();
            }
        }
        $(document).ready(function () {

            document.querySelectorAll('.video-fluid').forEach(item => {
                item.addEventListener('ended', event => {
                    document.querySelector('#click').click();
  })
            })

            $('.carousel').carousel('pause');
            setInterval(Mainvideoplayer, 500);

        });

    </script>



    @* Timeline *@
    <section class="timeline">
        <ul>
            <li>
                <div class="content">
                    <h2>
                        <time>2014-2018</time>
                    </h2>
                    <p>Iskolaaa Érettségi</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2016-2017</time>
                    </h2>
                    <p>Vágás Premiere Pro és sony</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2018-2019</time>
                    </h2>
                    <p>Szoftveres szar iskola OKJ</p>
                </div>

            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2017-2019</time>
                    </h2>
                    <p>After Effects</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2019-2020</time>
                    </h2>
                    <p>EZ A FOS AMIVEL SZOPOK</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2018-</time>
                    </h2>
                    <p>Houdini</p>
                </div>
            </li>
            <li></li>
        </ul>
    </section>

    <script>
        /* Check the location of each element */
        $('.content').each(function (i) {

            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).height();

            if (bottom_of_object > bottom_of_window) {
                $(this).addClass('hidden');
            }
        });


        $(window).scroll(function () {
            /* Check the location of each element hidden */
            $('.hidden').each(function (i) {

                var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();

                /* If the object is completely visible in the window, fadeIn it */
                if (bottom_of_window > bottom_of_object) {
                    $(this).animate({ 'opacity': '1' }, 700);
                }
            });
        });
    </script>

    @* Feedbacks *@
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin:auto;margin-top:20px; width:1000px;">
        <h1 class="text-center">My ratings!</h1>
        <div class="carousel-inner">
            @{
                int counter = 0;
                string active = " active";
                string unactive = "";
            }

            @foreach (var f in Model.Feedbacks)
            {
                string decide = (counter == 0) ? active : unactive;
                <div class="carousel-item @decide">
                    <div class="card" style="height:150px;width:750px; margin:auto;">
                        <div class="card-header cardheaderMain"></div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>@f.Velemeny</p>
                                <footer class="blockquote-footer"><cite title="Source Title">@f.Nev</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                counter++;
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="-webkit-filter: invert(100%)">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="-webkit-filter: invert(100%)">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

