@model Portfolio.Models.SumViewModel
@{
    ViewBag.Title = "Home Page";
}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/MainPage.css" />
<div class="col-md-12">
    @* Intro *@
    <div class="card" style="margin:auto;margin-top:20px; width:65%; height:auto;max-width:5000px;">
        <div class="card-body">
            <div class="align-top float-left">
                <img src="~/Content/Icons/LinkedIn_Logo.png" style="max-height:300px; width:100%;height:auto;" />
            </div>
            <h1 style="margin-top:20px;">Tallósi Dávid</h1>
            <h2 style="font-style:italic;">Junior VFX Artist & Junior Web developer</h2>
            <p class="text-justify">
                I was always interested in movies. Like how did they created the enviroment,
                the effects and stuffs, so I tried to figure it out by myself. I started with After Effects,
                I created multiple intro's, I learned about compositing, colorgrading, rotoscopeing, and the basics.
                I was able to use Red Giants plugins, Mocha, some VideoCopilot plugins, like Element3D, Saber, VCOrb.
                After I felt nice with my knowledge, I tried to move another step, so I started Cinema4D,
                I learned the user interface, and the basics, but nothing more, I felt, "This is not the right software,
                it's not what I really want", so I kept searching, and I found Houdini by SideFx, I felt in love with it.
                It was hard at the beginning, but I kept learning, watched multiple courses, until I felt , "Now I can do my own ideas" .
            </p>
        </div>
        <div class="card-footer" style="background-color:#43ff6f">
            <div class="row h-100 justify-content-center align-items-center">
                <a href="https://arthungry.com/tallosi.david" target="_blank">
                    <img class="iImg" src="~/Content/Icons/Arthungry_Logo_Zold.png" />
                </a>
                <a href="https://www.behance.net/dvidtallsi" target="_blank">
                    <img class="iImg" src="~/Content/Icons/Behance_Logo_Zold.png" />
                </a>
                <a href="https://github.com/tallosidavid" target="_blank">
                    <img class="iImg" src="~/Content/Icons/GitHub_Logo_Zold.png" />
                </a>
                <a href="mailto:tallosi.david69@gmail.com" target="_blank">
                    <img class="iImg" src="~/Content/Icons/Gmail_Logo_Zold.png" />
                </a>
                <a href="https://www.linkedin.com/in/d%C3%A1vid-tall%C3%B3si-4a86a0168/" target="_blank">
                    <img class="iImg" src="~/Content/Icons/LinkedIn_Logo_Zold.png" />
                </a>
            </div>
        </div>
    </div>
    @* VID SLIDE SHOW *@
    <div class="row justify-content-center align-items-center">
        <div id="video-carousel-main" class="carousel slide carousel-fade" data-interval="false" data-ride="carousel" style="max-width:65%;">
            <h1 class="text-center">Some of my works!</h1>
            <ol class="carousel-indicators">
                <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
                <li data-target="#video-carousel-example" data-slide-to="1"></li>
                <li data-target="#video-carousel-example" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                @{
                    int Counter = 0;
                    string Active = " active";
                    string Unactive = "";
                }
                @foreach (var f in Model.Munkaims)
                {
                    if (f.eleresiUt.Contains(".mp4"))
                    {
                        string decide = (Counter == 0) ? Active : Unactive;
                        if (f.SlideShow)
                        {
                            <div class="carousel-item @decide" name="@Counter" style="margin-top:20px;">
                                <video width="100%" height="auto" id="@Counter" class="video-fluid embed-responsive-item" muted>
                                    <source src="@Url.Content($"~/Content/Works/{f.eleresiUt}")" type="video/mp4" />
                                </video>
                            </div>
                            Counter++;
                        }
                    }
                }
                <a class="carousel-control-prev" href="#video-carousel-main" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#video-carousel-main" role="button" data-slide="next">
                    <span id="click" class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <script>
        function Mainvideoplayer() {
            var play = [0, 1, 2];
            play.forEach(function (element) {
                var active = "active";
                var ElsoOsztaly = document.getElementsByName(element)[0].getAttribute("class");
                if (ElsoOsztaly.includes(active)) {document.getElementById(element).play();}
                else {
                    document.getElementById(element).pause();
                    document.getElementById(element).currentTime=0;
                }
            })
        }
        $(document).ready(function () {
            $('.carousel').carousel('pause');
            document.querySelectorAll('.video-fluid').forEach(item => {
                item.addEventListener('ended', event => {
                    document.querySelector('#click').click();
                })
            })
            setInterval(Mainvideoplayer, 500);
        });
    </script>
    @* IMG SLIDE SHOW *@
    <div class="row justify-content-center align-items-center">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-width:65%">
            <div class="carousel-inner">
                @{
                    int CounterKep = 0;
                    string ActiveKep = " active";
                    string UnactiveKep = "";
                }
                @foreach (var f in Model.Munkaims)
                {
                    if (f.eleresiUt.Contains(".png"))
                    {
                        string decideKep = (CounterKep == 0) ? ActiveKep : UnactiveKep;
                        if (f.SlideShow)
                        {
                            <div class="carousel-item @decideKep" style="margin-top:20px;">

                                <img src="@Url.Content($"~/Content/Works/{f.eleresiUt}")" style="width:75%;" class="d-block w-100" alt="...">

                            </div>
                            CounterKep++;
                        }
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    @* Timeline *@
    <h1 class="text-center">Education</h1>
    <section class="timeline">

        <ul>
            <li>
                <div class="content">
                    <h2>
                        <time>2014-2018</time>
                    </h2>
                    <p>BMSZC Verebély László Vocational High School and Vocational Secondary School<br />Graduation</p>
                    <p>C# basics,Object Oriented programming</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2016-2017</time>
                    </h2>
                    <p>Self education</p>
                    <p>Sony Vegas, then Adobe Premiere Pro, basic cuts for music video, montages and color correction</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2018-2019</time>
                    </h2>
                    <p>BMSZC Verebély László Vocational High School and Vocational Secondary School<br />NQR-54 213 05</p>
                    <p>C# Windows Form,Unity basics,PHP,Java,MySQL,MSSQL</p>
                </div>

            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2017-2019</time>
                    </h2>
                    <p>Self education</p>
                    <p>Adobe After Effect,Cinema 4D, I managed to work procedurally. I used RedGiant, VideoCopilot and Boris Fx plugins, to learn some other techniques and workflow. In Cinema 4D I modelled some basic object,basic Physical and Octane render</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2019-2020</time>
                    </h2>
                    <p>BMSZC Verebély László Vocational High School and Vocational Secondary School<br />NQR-51 481 03</p>
                    <p>ASP.NET MVC 5, Java Beans</p>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>
                        <time>2018-</time>
                    </h2>
                    <p>Self education</p>
                    <p>Houdini, I managed to create multiple procedural HDA for faster working, basic modelling, basic Mantra and Octane renders </p>
                </div>
            </li>
            <li></li>
        </ul>
    </section>
    <script>
        $('.content').each(function (i) {
            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).height();
            if (bottom_of_object > bottom_of_window) {
                $(this).addClass('hidden');
            }
        });
        $(window).scroll(function () {
            $('.hidden').each(function (i) {
                var bottom_of_object = $(this).offset().top + $(this).outerHeight();
                var bottom_of_window = $(window).scrollTop() + $(window).height();
                if (bottom_of_window > bottom_of_object) {
                    $(this).animate({ 'opacity': '1' }, 700);
                }
            });
        });
    </script>
    @* Experience *@
    <div class="row h-100 justify-content-center align-items-center">
        <div id="carouselControlsXp" class="carousel slide" data-ride="carousel" style="margin:auto;margin-top:20px; width:1000px;">
            <h1 class="text-center">My experience!</h1>
            <div class="carousel-inner">
                @{
                    int counterXp = 0;
                    string activeXp = " active";
                    string unactiveXp = "";
                }
                @foreach (var f in Model.Experiences)
                {
                    string decideXp = (counterXp == 0) ? activeXp : unactiveXp;
                    <div class="carousel-item @decideXp">
                        <div class="card" style="height:auto;width:80%; margin:auto">
                            <div class="card-header cardheaderMain"></div>
                            <div class="card-body">
                                <h5 class="card-title">@f.Hol</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    @f.Mettol.ToShortDateString() - @if (f.Aktiv) { }
                                    else
                                    {<text>@f.Meddig.ToShortDateString()</text>;
                                }
                                </h6>
                                <p class="card-text">@f.Mit</p>
                            </div>
                        </div>
                    </div>
                    counterXp++;
                }
            </div>
            <a class="carousel-control-prev" href="#carouselControlsXp" role="button" data-slide="prev" style="-webkit-filter: invert(100%);">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControlsXp" role="button" data-slide="next" style="-webkit-filter: invert(100%)">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    @* Feedbacks *@
    <div class="row h-100 justify-content-center align-items-center">
        <div id="carouselControls" class="carousel slide" data-ride="carousel" style="margin:auto;margin-top:20px; width:1000px;">
            <h1 class="text-center">My ratings!</h1>
            <div class="carousel-inner">
                @{
                    int counter = 0;
                    string active = " active";
                    string unactive = "";
                }

                @foreach (var f in Model.Feedbacks)
                {
                    if (f.Engedelyezett)
                    {

                        string decide = (counter == 0) ? active : unactive;
                        <div class="carousel-item @decide">
                            <div class="card" style="height:auto;width:80%; margin:auto;">
                                <div class="card-header cardheaderMain"></div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>@f.Velemeny</p>
                                        <footer class="blockquote-footer"><cite title="Source Title">@f.Nev</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        counter++;
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev" style="-webkit-filter: invert(100%);">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next" style="-webkit-filter: invert(100%)">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

