@{
    var url = Request.Url.ToString();
    var active = "Opened";  
    var contact = "/Contact";
    var feedback = "/Feedback";
    var newwork = "/MyWork/New";
    var experience = "/Experience";
    var seenemails = "/SeenEmail";

}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style=" box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    @Html.ActionLink("TD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand underline"})
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Works
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item underline toggle" href="/Mywork/Videos">Videos</a>
                    <a class="dropdown-item underline toggle" href="/MyWork/Images">Images</a>
                    <a class="dropdown-item underline toggle" href="/MyWork">All</a>
                </div>
            </li> 
            <li class="nav-item">
                <a class="nav-link underline @(url.Contains(contact)?active:"")" href="/Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link underline @(url.Contains(feedback)?active:"")" href="/Feedback">Feedback</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link underline @(url.Contains(newwork)?active:"")" href="/MyWork/New">New Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link underline @(url.Contains(experience)?active:"")" href="/Experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link underline @(url.Contains(seenemails)?active:"")" href="/SeenEmail">Seen Emails</a>
                </li>
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>